/* Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

/* General CSS configurations */
body {
  background-color: #434343;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  margin: 2rem;
}

h1 {
  font-size: 30px;
}

.subtitle {
  letter-spacing: 1rem;
}

.subtitle span {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  height: 100px;
  width: 290px;
  font-size: 28px;
  border: none;
  margin: 15px;
}
