/* Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

/* General CSS configurations */
body {
  background-color: #434343;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  margin: 2rem;
}

h1 {
  font-size: 30px;
}

.subtitle {
  letter-spacing: 1rem;
}

.subtitle span {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  height: 100px;
  width: 290px;
  font-size: 12px;
  font-weight: 100;
  border: none;
  margin: 15px;
  background: none;
  border: 3px solid white;
  color: white;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  color: white;
  text-transform: lowercase;
  font-size: 12px;
}

.heart {
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  margin: 6px;
}

/* Buttons CSS Hover Animations */
/* Button #1 */
.button-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform-origin: top left;
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
}

.button-1:hover:before {
  transform: rotate(0deg);
}

/* Button #2 */
.button-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform-origin: bottom right;
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
}

.button-2:hover:before {
  transform: rotate(0deg);
}

/* Button #3 */
.button-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.button-3:hover:before {
  transform: translateX(0);
}

.button-3:hover {
  color: black;
}

/* Button #4 */
.button-4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 1s ease-in-out;
}

.button-4:hover:before {
  transform: rotateX(0);
}

.button-4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform: rotateY(90deg);
  transition: all 1s ease-in-out;
}

.button-4:hover:after {
  transform: rotateY(0);
}

/* Button #5 */
.button-5:hover {
  transform: scale(1.1);
  letter-spacing: 10px;
  font-weight: bolder;
  border: 5px solid white;
}

/* Button #6 */
.button-6:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  content: "YEAH";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  transform: translateY(-100%);
  transition: 1s;
}

.button-6:hover:before {
  transform: translateY(0);
}

/* Button #7 */
.button {
  transition: all 0.3s !important;
}
.button-7:hover {
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.button-7:before {
  content: "";
  background: white;
  top: 0;
  left: 0;
  position: absolute;
  width: 150%;
  height: 50px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.button-7:hover::before {
  transform: translateX(100%) rotate(45deg);
}

/* Button #8 */
.button-8 {
  color: transparent;
}
.button-8:before {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "YEAH";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.5s;
}

.button-8:after {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "YEAH";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  z-index: -1;
  transition: all 0.5s;
}

.button-8:hover:before {
  transform: translate(0);
}

.button-8:hover:after {
  transform: translate(100%, -100%);
}
